.navbar{
    padding: 20px 0;
}

.navbar a{
    margin: 0;
    padding: 0;
    
}

.navbar a li{
    list-style: none;
    display: inline-block;
} 

.navbar a li b{
    text-decoration: none;
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    color: chocolate;
    padding: 0 10px;
}