.container {
    margin: 50px 0;
}

.card {

    margin: 0 2% !important;
}

.infected {
    border-bottom: 10px solid rgba(255, 136, 0, 0.5);
}

.recovered {
    border-bottom: 10px solid rgba(0, 255, 42, 0.945);
}

.deaths {
    border-bottom: 10px solid rgba(255, 8, 0, 0.836);
}

@media (max-width: 770px) {
    .card {
    margin: 2% 0 !important;
    }
}